<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MediaPlayerWithRemoteControl.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="RemoteControlBehavior">
                    <serviceMetadata httpGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service behaviorConfiguration="RemoteControlBehavior" name="MediaPlayerWithRemoteControl.RemoteControl">
                <endpoint address="RemoteControl" binding="basicHttpBinding" contract="MediaPlayerWithRemoteControl.IRemoteControl">
                </endpoint>
                <!--<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />-->
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8732/Design_Time_Addresses/MediaPlayerWithRemoteControl/" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
  <userSettings>
    <MediaPlayerWithRemoteControl.Properties.Settings>
      <setting name="Path" serializeAs="String">
        <value>d:\SkyDrive\Music</value>
      </setting>
      <!--<setting name="SignalRUrl" serializeAs="String">
        <value>http://mediaplayerremotecontrol.apphb.com/</value>
      </setting>-->
    </MediaPlayerWithRemoteControl.Properties.Settings>
  </userSettings>
</configuration>
